.container {
    width: 100%;
    background-color: lightblue;
}
.row {
    height: 160px;
}
.headerMain {
    font-size: 60px;
    text-align: center;
    margin: auto;
}
.factButton {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    width: 160px;
    margin: auto;
    font-size: 26px;
    background-color: lightgreen;
}
.factButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}